In [107]:
import pandas as pd
from sklearn metrics pairwise import cosine_similarity

# Load the data
movies = pd read_csv('movies2 csv')
ratings = pd read_csv('ratings csv')

# Filter the data for the first 200 users
ratings = ratings[ratings['userId'] isin(range(1, 201))]

ratings

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
29263     200    60074     3.5  1229887390
29264     200    61024     4.0  1229889835
29265     200    61323     4.0  1229887427
29266     200    62299     3.5  1229876803
29267     200    63433     4.0  1229887817

[29268 rows x 4 columns]

In [108]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [109]:
# Get the first 200 unique movies rated by these users
unique_movies = ratings['movieId'].unique()[:199]
# Append movie ID 4 to the list as it wasn't in the first 200
unique_movies = list(unique_movies) + [4]
unique_movies

[1,
 3,
 6,
 47,
 50,
 70,
 101,
 110,
 151,
 157,
 163,
 216,
 223,
 231,
 235,
 260,
 296,
 316,
 333,
 349,
 356,
 362,
 367,
 423,
 441,
 457,
 480,
 500,
 527,
 543,
 552,
 553,
 590,
 592,
 593,
 596,
 608,
 648,
 661,
 673,
 733,
 736,
 780,
 804,
 919,
 923,
 940,
 943,
 954,
 1009,
 1023,
 1024,
 1025,
 1029,
 1030,
 1031,
 1032,
 1042,
 1049,
 1060,
 1073,
 1080,
 1089,
 1090,
 1092,
 1097,
 1127,
 1136,
 1196,
 1197,
 1198,
 1206,
 1208,
 1210,
 1213,
 1214,
 1219,
 1220,
 1222,
 1224,
 1226,
 1240,
 1256,
 1258,
 1265,
 1270,
 1275,
 1278,
 1282,
 1291,
 1298,
 1348,
 1377,
 1396,
 1408,
 1445,
 1473,
 1500,
 1517,
 1552,
 1573,
 1580,
 1587,
 1617,
 1620,
 1625,
 1644,
 1676,
 1732,
 1777,
 1793,
 1804,
 1805,
 1920,
 1927,
 1954,
 1967,
 2000,
 2005,
 2012,
 2018,
 2028,
 2033,
 2046,
 2048,
 2054,
 2058,
 2078,
 2090,
 2093,
 2094,
 2096,
 2099,
 2105,
 2115,
 2116,
 2137,
 2139,
 2141,
 2143,
 2161,
 2174,
 2193,
 2253,
 2268,
 2273,
 2291,
 2329,
 2338,
 2353,
 2366,
 2387,
 2389,
 2395,
 2406,
 2414,
 2427,
 2450,
 2459,
 2470,
 2478,
 2492,
 2502,
 2528,
 2529,
 2542,
 2571,
 2580,
 2596,
 2616,
 2617,
 2628,
 2640,
 2641,
 2644,
 2648,
 2654,
 2657,
 2692,
 2700,
 2716,
 2761,
 2797,
 2826,
 2858,
 2872,
 2899,
 2916,
 2944,
 2947,
 2948,
 2949,
 2959,
 2985,
 2987,
 2991,
 2993,
 2997,
 3033,
 4]

In [110]:
movies = movies[movies['movieId'].isin(unique_movies)]
ratings = ratings[ratings['movieId'].isin(unique_movies)]
ratings

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
29062     200     2947     4.0  1229887433
29063     200     2948     4.0  1229888416
29064     200     2949     4.0  1229888513
29065     200     2959     5.0  1229885970
29066     200     2991     4.0  1229889300

[4737 rows x 4 columns]

In [111]:
# Pivot the data to get a user-movie matrix
user_movie_matrix = ratings.pivot(index='userId', columns='movieId', values='rating').fillna(0)
user_movie_matrix

movieId,1,3,4,6,47,50,70,101,110,151,...,2947,2948,2949,2959,2985,2987,2991,2993,2997,3033
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,4.0,0.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,...,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,4.0,5.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,4.0
5,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,5.0,2.0,0.0,0.0,0.0,3.0,3.0
199,0.0,0.0,0.0,4.0,3.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
200,3.5,0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.5,0.0,...,4.0,4.0,4.0,5.0,0.0,0.0,4.0,0.0,0.0,0.0

In [124]:
# Calculate the cosine similarity matrix
similarity_matrix = cosine_similarity(user_movie_matrix.T)
similarity_matrix[:4,:4] # This is a little bit inconvenient, let's make it a dataframe

array([[1.        , 0.28482541, 0.        , 0.32792769],
       [0.28482541, 1.        , 0.15027827, 0.34169981],
       [0.        , 0.15027827, 1.        , 0.17660431],
       [0.32792769, 0.34169981, 0.17660431, 1.        ]])

In [119]:
similarity_df = pd.DataFrame(similarity_matrix, index=unique_movies, columns=unique_movies)
similarity_df

,1,3,6,47,50,70,101,110,151,157,...,2948,2949,2959,2985,2987,2991,2993,2997,3033,4
1,1.000000,0.284825,0.000000,0.327928,0.429123,0.459939,0.248927,0.171318,0.509997,0.241071,...,0.357124,0.301268,0.286547,0.435427,0.352312,0.384794,0.256869,0.241666,0.405958,0.317897
3,0.284825,1.000000,0.150278,0.341700,0.351099,0.200108,0.253452,0.187756,0.249988,0.273749,...,0.147074,0.143147,0.200491,0.150332,0.239019,0.236674,0.127079,0.215771,0.203659,0.325062
6,0.000000,0.150278,1.000000,0.176604,0.129796,0.128037,0.000000,0.000000,0.135907,0.132964,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,0.327928,0.341700,0.176604,1.000000,0.443486,0.486783,0.357577,0.137905,0.422130,0.409469,...,0.417427,0.298522,0.310879,0.289122,0.331512,0.274531,0.177343,0.295547,0.359969,0.303401
50,0.429123,0.351099,0.129796,0.443486,1.000000,0.561135,0.273633,0.112615,0.628772,0.310648,...,0.242643,0.234271,0.225809,0.564867,0.305653,0.412363,0.173785,0.216863,0.453622,0.299953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2991,0.384794,0.236674,0.000000,0.274531,0.412363,0.350421,0.343322,0.187469,0.298220,0.185146,...,0.382169,0.185806,0.243557,0.474413,0.494915,1.000000,0.126885,0.246883,0.563599,0.411447
2993,0.256869,0.127079,0.000000,0.177343,0.173785,0.129324,0.245126,0.412702,0.149404,0.175685,...,0.493301,0.694471,0.756526,0.240764,0.373378,0.126885,1.000000,0.628102,0.184839,0.288442
2997,0.241666,0.215771,0.000000,0.295547,0.216863,0.211164,0.334056,0.378777,0.200410,0.219291,...,0.637367,0.637384,0.865114,0.231424,0.533690,0.246883,0.628102,1.000000,0.332928,0.355128
3033,0.405958,0.203659,0.000000,0.359969,0.453622,0.499406,0.554511,0.273095,0.308357,0.158397,...,0.386908,0.215646,0.316932,0.537568,0.470012,0.563599,0.184839,0.332928,1.000000,0.448804
4,0.317897,0.325062,0.000000,0.303401,0.299953,0.309618,0.392874,0.259857,0.298045,0.196903,...,0.338751,0.328308,0.383851,0.373869,0.495886,0.411447,0.288442,0.355128,0.448804,1.000000

In [150]:
from scipy.sparse.linalg import svds
import numpy as np

In [151]:
# Make predictions

# Getting ratings
R = user_movie_matrix.values

# Normalize by each users mean and convert it from a dataframe to a numpy array.
R_demeaned = R - np.mean(R, axis = 1).reshape(-1, 1)

from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

# 'sigma' is returned as a 1-d array of singular values. Convert it to a diagonal matrix
sigma = np.diag(sigma)

# Make predictions
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + np.mean(R, axis = 1).reshape(-1, 1)
all_user_predicted_ratings

array([[ 3.52634192,  3.90777781,  3.27535563, ...,  4.53987123,
         4.4639334 ,  5.29561627],
       [-0.032831  ,  0.43488989, -0.00900527, ...,  0.10582871,
         0.20350799,  0.30110314],
       [-0.17427832, -0.34750732,  0.08037252, ...,  0.06462324,
         0.09628255,  0.38324386],
       ...,
       [-0.50267541,  0.24046992, -0.34114513, ...,  0.19770359,
         2.41301634,  1.95483435],
       [-0.3593933 ,  0.21187616,  0.05390687, ..., -0.22460956,
         4.62889557, -0.02077448],
       [ 3.32380156,  0.43949368,  0.26842434, ...,  0.97632644,
        -0.5947772 ,  0.27628252]])

In [152]:
# Convert predicted ratings to DataFrame
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = user_movie_matrix.columns, index=user_movie_matrix.index)
preds_df

movieId,1,3,4,6,47,50,70,101,110,151,...,2947,2948,2949,2959,2985,2987,2991,2993,2997,3033
userId,,,,,,,,,,,,,,,,,,,,,
1,3.526342,3.907778,3.275356,3.784014,4.608164,4.325803,3.808258,4.572710,4.874466,4.640375,...,5.033893,4.528528,4.709458,5.337438,4.332197,4.682111,4.500835,4.539871,4.463933,5.295616
2,-0.032831,0.434890,-0.009005,-0.082957,-0.092680,0.072737,0.208254,-0.000394,0.055122,0.102877,...,-0.044878,0.092038,0.034147,-0.125054,0.037887,-0.180276,0.019289,0.105829,0.203508,0.301103
3,-0.174278,-0.347507,0.080373,-0.060788,0.135703,0.034447,0.091107,0.053956,0.055748,-0.148205,...,-0.039204,0.218962,0.104282,-0.173441,0.160347,-0.000517,0.106542,0.064623,0.096283,0.383244
4,0.813865,-0.272638,-0.529852,-0.505366,2.492183,-0.544578,0.729449,-0.027320,-0.169834,0.297604,...,0.411196,-0.107395,-0.348924,1.551078,-0.354855,0.824400,-0.100335,0.077555,4.017494,2.828981
5,3.939331,-0.169180,0.094111,0.076122,0.518976,3.392383,-0.117900,0.010327,3.708945,0.667428,...,0.502146,0.170455,0.258938,-0.127565,0.155393,-0.184392,0.004639,-0.039652,0.697302,-0.038451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,0.074887,-0.011927,-0.094231,0.295339,0.421857,-0.434739,-0.038043,0.009325,3.233966,0.223610,...,0.368488,0.280379,0.217581,-0.127084,0.114362,0.059582,-0.035504,0.275987,-0.155677,-0.121377
197,0.469832,-0.843120,0.177948,-0.403900,-0.152568,3.797262,-0.070854,0.179973,-0.428628,0.503868,...,-0.320613,-0.033612,-0.265620,0.135038,0.379585,0.467367,-0.070714,-0.176358,-0.323990,-0.134429
198,-0.502675,0.240470,-0.341145,0.564826,4.777881,4.929811,0.249448,-0.196131,3.981990,-0.169334,...,-0.146252,-0.092711,0.335553,4.880335,1.955847,0.693053,-0.139149,0.197704,2.413016,1.954834
199,-0.359393,0.211876,0.053907,3.277436,3.279878,4.204734,-0.113421,0.339117,0.169246,0.584501,...,0.377938,-0.511182,-0.069097,0.328927,0.288820,0.519001,-0.431674,-0.224610,4.628896,-0.020774
200,3.323802,0.439494,0.268424,0.000113,4.032248,-0.316625,0.565977,0.118740,3.869755,0.137887,...,3.878501,3.951254,3.283058,5.155558,-0.058847,-0.149124,3.213746,0.976326,-0.594777,0.276283

In [153]:
from typing import Union

# Function to get the top 10 similar movies
def get_similar_movies(movie_id: int, similarity_df: pd.DataFrame) -> Union[pd.DataFrame, str]:
    # Check if the movie ID exists in the similarity matrixIf it doesn't, return a message indicating that the movie ID was not found
    if movie_id in similarity_df.index:
        # If the movie ID exists, get the most similar movies from the similarity matrix by sorting the movies in the similarity matrix in descending order of similarity and selecting the top 10 movies
        # Starting from index 1 instead of 0 to exclude the movie itself (since a movie is always most similar to itself)
        similar_movies = similarity_df[movie_id].sort_values(ascending=False)[1:11]
        # Return the details of the similar movies by selecting the rows in the movies DataFrame that match the IDs of the similar movies
        return movies[movies['movieId'].isin(similar_movies.index)]
    else:
        # If the movie ID does not exist in the similarity matrix, return a message indicating that the movie ID was not found
        return 'Movie ID not found in the similarity matrix.'

# Get the top 10 similar movies for "Toy Story (1995)" -> 1, and "Waiting to Exhale (1995)" -> 4
print(get_similar_movies(1,similarity_df))

      movieId                             title  \
257       296               Pulp Fiction (1994)
275       316                   Stargate (1994)
367       423                 Blown Away (1994)
436       500             Mrs. Doubtfire (1993)
551       661  James and the Giant Peach (1996)
632       804              She's the One (1996)
907      1206        Clockwork Orange, A (1971)
914      1213                 Goodfellas (1990)
969      1270         Back to the Future (1985)
2077     2761            Iron Giant, The (1999)

                                            genres
257                    Comedy|Crime|Drama|Thriller
275                        Action|Adventure|Sci-Fi
367                                Action|Thriller
436                                   Comedy|Drama
551   Adventure|Animation|Children|Fantasy|Musical
632                                 Comedy|Romance
907                    Crime|Drama|Sci-Fi|Thriller
914                                    Crime|Drama
969                        Adventure|Comedy|Sci-Fi
2077     Adventure|Animation|Children|Drama|Sci-Fi

In [162]:
def get_similar_movies_svd(movie_id: int, similarity_df: pd.DataFrame, preds_df: pd.DataFrame) -> Union[pd.DataFrame, str]:
    if movie_id in similarity_df.index:
        # Get the top 10 most similar movies
        similar_movies = similarity_df[movie_id].sort_values(ascending=False)[:25]
        
        # Get the average predicted rating of the similar movies
        similar_movies_avg_rating = preds_df[similar_movies.index].mean()
        
        # Filter the similar movies to include only those with a predicted rating above the average
        recommended_movies = similar_movies[similar_movies_avg_rating > similar_movies_avg_rating.mean()].index
        
        # Return the details of the recommended movies
        return movies[movies['movieId'].isin(recommended_movies)][1:11]
    else:
        return 'Movie ID not found in the similarity matrix.'

print(get_similar_movies_svd(1,similarity_df,preds_df))

     movieId                                              title  \
257      296                                Pulp Fiction (1994)
275      316                                    Stargate (1994)
436      500                              Mrs. Doubtfire (1993)
509      592                                      Batman (1989)
510      593                   Silence of the Lambs, The (1991)
899     1197                         Princess Bride, The (1987)
900     1198  Raiders of the Lost Ark (Indiana Jones and the...
907     1206                         Clockwork Orange, A (1971)
914     1213                                  Goodfellas (1990)
969     1270                          Back to the Future (1985)

                                      genres
257              Comedy|Crime|Drama|Thriller
275                  Action|Adventure|Sci-Fi
436                             Comedy|Drama
509                    Action|Crime|Thriller
510                    Crime|Horror|Thriller
899  Action|Adventure|Comedy|Fantasy|Romance
900                         Action|Adventure
907              Crime|Drama|Sci-Fi|Thriller
914                              Crime|Drama
969                  Adventure|Comedy|Sci-Fi

In [147]:
print(get_similar_movies(4))

      movieId                                              title  \
398       457                               Fugitive, The (1993)
801      1049                 Ghost and the Darkness, The (1996)
900      1198  Raiders of the Lost Ark (Indiana Jones and the...
1171     1552                                     Con Air (1997)
1261     1676                           Starship Troopers (1997)
1475     2000                               Lethal Weapon (1987)
1691     2273                                   Rush Hour (1998)
1874     2492                                    20 Dates (1998)
1904     2528                                 Logan's Run (1976)
1957     2596                                   SLC Punk! (1998)

                            genres
398                       Thriller
801               Action|Adventure
900               Action|Adventure
1171     Action|Adventure|Thriller
1261                 Action|Sci-Fi
1475     Action|Comedy|Crime|Drama
1691  Action|Comedy|Crime|Thriller
1874                Comedy|Romance
1904       Action|Adventure|Sci-Fi
1957                  Comedy|Drama

In [149]:
# Function to recommend 3 movies for a user
def recommend_movies(user_id):
    # Make sure that user_id is in the training data
    if user_id not in  user_movie_matrix.index:
        return 'User ID not found in the data.'
    # First, let's get the ratings of the user to the movies that they have watched before 
    # This is a pandas series where, as we have seen before, the index is movieId and the value is the rating of this user to the movies used in the training, some of them the user didn't watch before
    user_ratings = user_movie_matrix.loc[user_id]
    # To dentify the movies that the user has already watched, we select the movies that have a rating greater than 0.
    watched_movies = user_ratings[user_ratings > 0].index
    
    # Identify the movies that the user hasn't watched yet and we know other user's reaction to these movies, so we choose them out of user_movie_matrix not from all movies
    unwatched_movies = [movie for movie in user_movie_matrix.columns if movie not in watched_movies]
    
    # Initialize a dictionary to store the estimated ratings for unwatched movies, the keys will be the movieIds and the values will be the estimated ratings
    estimated_ratings = {}
    
    # Loop over each unwatched movieFor each movie, we calculate an estimated rating based on the ratings of similar movies that the user has watched
    for movie in unwatched_movies:
        # Get the top 10 movies that are most similar to the current movie by sorting the movies in the similarity matrix in descending order and selecting the top 10
        sorted_similar_movies = similarity_df[movie].sort_values(ascending=False)[1:20] # Changing the number of top most similar movies affects the results, using most similar ones seems to be a better idea but this will limit the search scope for the next step                                       
        
        # Filter the similar movies to include only those that the user has watched by checking if the movieId of the similar movie is in the watched_movies list
        sorted_similar_movies_watched = sorted_similar_movies[sorted_similar_movies.index.isin(watched_movies)]
        
        # If the sum of similarities is zero (no similar movies have been watched by the user), skip this movieThis is to avoid division by zero in the next step
        if sorted_similar_movies_watched.sum() == 0:
            continue
        
        # Estimate the user's rating for the current movie by taking a weighted average of the user's ratings for the similar movies,
        # where the weights are the similarities between the current movie and the similar moviesThis is the key step in collaborative filtering
        estimated_ratings[movie] = (user_ratings[sorted_similar_movies_watched.index] * sorted_similar_movies_watched).sum() / sorted_similar_movies_watched.sum()
    
    # Get the 3 unwatched movies with the highest estimated ratings by converting the estimated_ratings dictionary to a pandas Series, to be used in rows selection,
    # then sorting it in descending order, and selecting the top 3 movies
    recommended_movies = pd.Series(estimated_ratings).sort_values(ascending=False)[:3].index
    
    # Return the details of the recommended movies by selecting the rows in the movies DataFrame that match the recommended movieIds
    return movies[movies['movieId'].isin(recommended_movies)]


# Recommend 3 movies for user 200
print(recommend_movies(200))

      movieId                            title                      genres
723       943  Ghost and Mrs. Muir, The (1947)       Drama|Fantasy|Romance
767      1009  Escape to Witch Mountain (1975)  Adventure|Children|Fantasy
1991     2648              Frankenstein (1931)         Drama|Horror|Sci-Fi